body {
    background-color: #FFFFFF; /* Background color for the entire page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFFFFF; /* Background color for the container (clean white background) */
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #FF7777; /* Button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6666; /* Hover effect for button */
}

.error {
    color: #ff0000; /* Error message color */
    margin-bottom: 10px;
}

a {
    color: #FF7777; /* Link color */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff6666; /* Hover effect for links */
}
