.student-view {
  padding: 20px;
  background-color: #f7f7f7; /* Mild grey background color */
  animation: fadeIn 1s ease-in-out;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.add-student-button {
  display: block;
  width: 150px;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #02375ab6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: blink 2s infinite;
}

.add-student-button:hover {
  background-color: rgb(13, 44, 77);
}

.student-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.student-form input {
  width: 200px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  animation: slideUp 0.8s ease-out;
}

.student-table th, .student-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.student-table th {
  background-color: #f2f2f2;
}

.action-icon {
  margin: 0 5px;
  cursor: pointer;
  color: #012740b6;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
